@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --radius: 0.65rem;
  /* Values only, no oklch wrapper */
  --background: 1 0 0;
  --foreground: 0.141 0.005 285.823;
  --card: 1 0 0;
  --card-foreground: 0.141 0.005 285.823;
  --popover: 1 0 0;
  --popover-foreground: 0.141 0.005 285.823;
  --primary: 0.648 0.2 131.684;
  --primary-foreground: 0.986 0.031 120.757;
  --secondary: 0.967 0.001 286.375;
  --secondary-foreground: 0.21 0.006 285.885;
  --muted: 0.967 0.001 286.375;
  --muted-foreground: 0.552 0.016 285.938;
  --accent: 0.967 0.001 286.375;
  --accent-foreground: 0.21 0.006 285.885;
  --destructive: 0.577 0.245 27.325;
  --border: 0.92 0.004 286.32;
  --input: 0.92 0.004 286.32;
  --ring: 0.841 0.238 128.85;
  --chart-1: 0.871 0.15 154.449;
  --chart-2: 0.723 0.219 149.579;
  --chart-3: 0.627 0.194 149.214;
  --chart-4: 0.527 0.154 150.069;
  --chart-5: 0.448 0.119 151.328;
  --sidebar: 0.985 0 0;
  --sidebar-foreground: 0.141 0.005 285.823;
  --sidebar-primary: 0.648 0.2 131.684;
  --sidebar-primary-foreground: 0.986 0.031 120.757;
  --sidebar-accent: 0.967 0.001 286.375;
  --sidebar-accent-foreground: 0.21 0.006 285.885;
  --sidebar-border: 0.92 0.004 286.32;
  --sidebar-ring: 0.841 0.238 128.85;
}

.dark {
  --background: 0.141 0.005 285.823;
  --foreground: 0.985 0 0;
  --card: 0.21 0.006 285.885;
  --card-foreground: 0.985 0 0;
  --popover: 0.21 0.006 285.885;
  --popover-foreground: 0.985 0 0;
  --primary: 0.648 0.2 131.684;
  --primary-foreground: 0.986 0.031 120.757;
  --secondary: 0.274 0.006 286.033;
  --secondary-foreground: 0.985 0 0;
  --muted: 0.274 0.006 286.033;
  --muted-foreground: 0.705 0.015 286.067;
  --accent: 0.274 0.006 286.033;
  --accent-foreground: 0.985 0 0;
  --destructive: 0.704 0.191 22.216;
  --border: 1 0 0 / 10%;
  --input: 1 0 0 / 15%;
  --ring: 0.405 0.101 131.063;
  --chart-1: 0.871 0.15 154.449;
  --chart-2: 0.723 0.219 149.579;
  --chart-3: 0.627 0.194 149.214;
  --chart-4: 0.527 0.154 150.069;
  --chart-5: 0.448 0.119 151.328;
  --sidebar: 0.21 0.006 285.885;
  --sidebar-foreground: 0.985 0 0;
  --sidebar-primary: 0.768 0.233 130.85;
  --sidebar-primary-foreground: 0.986 0.031 120.757;
  --sidebar-accent: 0.274 0.006 286.033;
  --sidebar-accent-foreground: 0.985 0 0;
  --sidebar-border: 1 0 0 / 10%;
  --sidebar-ring: 0.405 0.101 131.063;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dark {
  .react-flow__controls-button {
    background: transparent !important;
  }
  .react-flow__attribution {
    @apply !bg-accent;
  }
}
